/* In Social - Custom */

@media screen and (min-width: 990px) {
  .mega-menu__content .grid {
    justify-content: space-evenly;
  }
  
  .mega-menu__list {
    display: flex;
  }
  
  .megamenu__cat_wrap {
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .megamenu__cat_item {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
  }
  
  .megamenu__cat_item img {
    width: 100%;
    height: auto;
  }
}